@using CommunityAssist2017.Models
@model CommunityAssist2017.Models.Message

@{
    ViewBag.Title = "Result";
}

<h2>@Model.MessageText</h2>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>